<h1>Foodtrucks</h1>
<section>
  <table>
    <tbody>
      <% @foodtrucks.next_page.each do |foodtruck| %>
      <tr>
        <td><%= foodtruck["applicant"] %></td>
        <td><%= foodtruck["location"] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>
